
.header-right a {
  margin-right: 20px; 
  width: 100%;
  
    /* Height of the footer */
    height: 40px;   
    background: pink;

}
.header a{
  margin: 20px;
  
}
footer {
    position: fixed;
    /* padding: 10px 10px 0px 10px; */
    bottom: 10px;
    width: 100%;
    /* Height of the footer */
    height: 40px;   
    background:red;
}
